<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xt.dao.DeptMapper">


  <resultMap id="deptmap" type="Dept">
    <id column="pid" property="deptId"></id>
    <result column="pname" property="deptName"></result>
    <association column="PARENT_ID" property="parentId" javaType="Dept">
    <id column="DEPT_ID" property="deptId"></id>
    <result column="DEPT_NAME" property="deptName"></result>
    </association>
  </resultMap>
  <select id="findPage" resultMap="deptmap">

    select p2.DEPT_ID pid,p2.DEPT_NAME pname,p1.* from dept_p p1 join dept_p p2 on p1.DEPT_ID=p2.PARENT_ID

    <!--select p2.DEPT_ID pid,p2.DEPT_NAME pname,p1.* from dept_p p1 join dept_p p2 on p1.DEPT_ID=p2.PARENT_ID limit #{currentPageNo},#{pageSize}-->
  </select>



  <select id="getDeptCount" resultType="int">
		select count(p2.DEPT_ID) as count from dept_p p1 join dept_p p2 on p1.DEPT_ID=p2.PARENT_ID
	</select>



    <resultMap id="deptmap2" type="Dept">
        <id column="DEPT_ID" property="deptId"></id>
        <result column="DEPT_NAME" property="deptName"></result>
        <association column="PARENT_ID" property="parentId" javaType="Dept">
            <id column="pid" property="deptId"></id>
            <result column="pname" property="deptName"></result>
        </association>
    </resultMap>
  <select id="getDeptById" resultMap="deptmap2">
      <!--select p1.DEPT_ID,p2.DEPT_NAME,p1.DEPT_NAME pname from dept_p p1 inner join dept_p p2 on p1.DEPT_ID=p2.PARENT_ID-->

      select p1.DEPT_ID,p2.DEPT_NAME,p1.DEPT_NAME pname from dept_p p1 inner join dept_p p2 on p1.DEPT_ID=p2.PARENT_ID
    <where>
      <if test="deptId!=null">p2.DEPT_ID=#{deptId}</if>
    </where>
  </select>



    <resultMap id="deptmap3" type="Dept">
        <id column="DEPT_ID" property="deptId"></id>
        <result column="DEPT_NAME" property="deptName"></result>
        <association column="PARENT_ID" property="parentId" javaType="Dept">
            <id column="pid" property="deptId"></id>
            <result column="pname" property="deptName"></result>
        </association>
    </resultMap>
  <select id="getUpDept" resultMap="deptmap3">
      <!--只查父级部门-->
      <!--select p1.DEPT_NAME pname,p2.DEPT_NAME from dept_p p1 inner join dept_p p2 on p1.DEPT_ID=p2.PARENT_ID group by p1.DEPT_NAME-->

      select DEPT_ID,DEPT_NAME from dept_p where STATE=1
  </select>



  <insert id="addDept" parameterType="Dept">
      insert into dept_p(DEPT_ID,DEPT_NAME,PARENT_ID,STATE) values(#{deptId},#{deptName},#{parentId.deptId},#{state})
</insert>


<update id="updateDept" parameterType="Dept">
     update dept_p
     <set>
         PARENT_ID=#{parentId.deptId},
         <if test="deptName!=null">DEPT_NAME=#{deptName}</if>
     </set>
     where DEPT_ID=#{deptId}
</update>

<delete id="deleteDept">
    delete from dept_p
    <where>
        <if test="deptId!=null">DEPT_ID=#{deptId}</if>
    </where>
</delete>

<delete id="deleteDeptList" parameterType="java.util.List">
     delete from dept_p where 1>2
     or DEPT_ID in
     <foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
         #{deptId}
     </foreach>
</delete>


<update id="updateUserDeptId">
    update user_p set DEPT_ID=null
    <where>
        <if test="deptId!=null">DEPT_ID=#{deptId}</if>
    </where>
</update>

<update id="updateUserDeptIdList" parameterType="java.util.List">
    update user_p set DEPT_ID=null where 1>2
     or USER_ID in
     <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
         #{userId}
     </foreach>
</update>






</mapper>