<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.xt.dao.DeptMapper">
	<resultMap id="deptmap" type="dept">
		<id column="DEPT_ID" property="id"></id>
		<result column="DEPT_NAME" property="deptName"></result>
		<association property="parent" column="PARENT_ID" javaType="Dept"></association>
	</resultMap>
	<select id="findPage" resultMap="deptmap">
		select * from dept_p
	</select>
	
 </mapper>